body{
  background-color:grey;
}
h1,p{
  text-align:center;
  color:white;
}

.container{
  display:flex;
  background-color:white;
  width:1100px;
  margin:20px auto;
  content:center; 
}
.container div{
  background-color:black;
  margin: 23px;
  padding: 20px;
  font-size: 24px;
  content:center;
}
  
  
.main-footer {
  background-color:green;
  color:bisque;
  text-align:center;
  padding: 2rem;
  margin-top:2rem;
}  

.social a{
  color:white;
  margin:0 1rem;
  font-size:1.2rem;
}

